<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.bais.let.pay"
    version="1.0">

    <name>PAY Player</name>
    <description>Let PAY Plugin</description>
    <license>pearl</license>
    <keywords>let_pay</keywords>
    <repo>https://github.com/pearl-wu/letpayDemo.git</repo>
    <issue>https://github.com/pearl-wu/letpayDemo.git</issue>

    <js-module src="www/letpay.js" name="LetPay">
        <clobbers target="LetPay" />
    </js-module>
	
    <platform name="android">
	<config-file target="AndroidManifest.xml" parent="/*">
		<uses-permission android:name="android.permission.INTERNET" />
	</config-file>
    	
        <config-file target="res/xml/config.xml" parent="/*">
           <feature name="letOrder">
                <param name="android-package" value="com.bais.let.MainActivity"/>
            </feature>
        </config-file>

	<source-file src="src/MainActivity.java" target-dir="src/com/bais/let/" />
	<source-file src="src/MD5Signature.java" target-dir="src/com/bais/let/" />
	<source-file src="src/Base64Utils.java" target-dir="src/com/bais/let/" />
	<source-file src="src/RSAUtils.java" target-dir="src/com/bais/let/" />
	<source-file src="src/Config.java" target-dir="src/com/bais/let/" />
	<source-file src="src/RSASign.java" target-dir="src/com/bais/let/" />
	<source-file src="libs/letvpaysdk_3.0.2.jar" target-dir="libs/" />
    </platform>

</plugin>
